{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Reset Password {% endblock %}
{% block content %}
<style type="text/css">
	.form-control:hover{
		border: 1px solid lightskyblue;
		outline: none;
	}
</style>
<div class="container mx-auto">
	<div class="row mt-5 pt-5">
		<div class="col-md-6">
			<div class="card shadow">
				<div class="card-body">
					<h3 class="">Password Reset Confirm Page</h3>
					<hr>
					<form method="POST">
						{% csrf_token %}
						{{form|crispy}}
						<button class="btn btn-primary">Reset Password Confirm</button>
					</form>
					
				</div>
			</div>
		</div>
	
	</div>
</div>

{% endblock %}